.button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px; /* Adjust the margin as needed */
}

.button-container button {
  margin-bottom: 10px; /* Adjust the margin between buttons as needed */
}

.sidebar {
  // move the sidebar to the left
  // move the sidebar up to the t
  float: left;
  position: absolute;
  top: 80px;
  padding: 20px;
  width: 20%;
 
  background-color: #f2f2f2;
}

.tickets {
  // move the tickets to the right
  // move the tickets up to the top
  float: right;
  position: absolute;
  top: 80px;
  padding: 20px;
  width: 80%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 20px;
}
/* dashboard.component.scss */

.header-row {
  background-color: #f2f2f2; /* Use your desired grayish color */
}

/* Add any other styles you need */

