/* Container for buttons */

.createTicket {
  margin-top: 10px; /* Adjust the margin */
  display: flex;
  justify-content: flex-end;
}

.button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 300px; /* Adjusts the margin */
}









.nav-link:hover {
  background-color: #f8f9fa; /* Hover effect */
}

/* Active link styling */
.nav-link.active {
  font-weight: bold;
}
::ng-deep .mat-paginator {
  .mat-select-value {
    width: auto; /* Allow the width to adjust based on content */
  }

  .mat-select-panel {
    min-width: unset; /* Remove any minimum width constraint */
    max-width: unset; /* Remove any maximum width constraint */
    width: auto; /* Allow the width to adjust based on content */
  }

  .small-font {
    font-size: 1px; /* Adjust the font size as needed */
  }


  
}

.container{
  max-width: 1200px;
  margin: 0 auto;
}


