<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Dashboard</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown" dropdown (mouseenter)="toggleDropdown($event)" (mouseleave)="toggleDropdown($event)">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" aria-haspopup="true" aria-expanded="false">
            <span class="fa fa-user p-2"></span>
            {{ fullName }}
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink" [ngClass]="{ 'show': isDropdownOpen }">
            <!-- <a class="dropdown-item" href="#">Action</a> -->
            <a class="dropdown-item" href="#" (click)="logout()">Sign Out</a> <!-- Added Sign Out link -->
          </div>
        </li>
      </ul>
    </div>
    <form class="form-inline my-2 my-lg-0 mx-auto">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>











<!-- Button container -->
<div class="button-container">
  <!-- Create Ticket button -->
  <!-- <button class="btn btn-primary" (click)="CreateTicket()">Create Ticket</button> -->
  <!-- View Tickets button -->
  <!-- <button class="btn btn-primary" (click)="ViewTickets()">View Tickets</button> -->
  <!-- Sign out button -->
  <!-- <button class="btn btn-primary" (click)="logout()">Sign out</button> -->
</div>

<!-- Sidebar -->
<div class="sidebar">
  <h2>Ticket Categories</h2>
  <ul>
    <!-- Ticket categories -->
    <li class="ticket-category">Category 1</li>
    <li class="ticket-category">Category 2</li>
    <li class="ticket-category">Category 3</li>
    <!-- Add more categories here -->
  </ul>
</div>

<div class="tickets-container ticket-box">
  <!-- Tickets header -->
  <h2>Tickets</h2>
  <div class="create-ticket-btn-container">
    <!-- Create Ticket button -->
    <button class="btn btn-primary" (click)="CreateTicket()">Create Ticket</button>
  </div>
  <div class="row ticket-table-header">
    <!-- Ticket table headers -->
    <div class="col ticket-table-cell">
      <p>Ticket Subject</p>
    </div>
    <div class="col ticket-table-cell">
      <p>Ticket Owner</p>
    </div>
    <div class="col ticket-table-cell">
      <p>Ticket Description</p>
    </div>
    <div class="col ticket-table-cell">
      <p>Priority</p>
    </div>
    <div class="col ticket-table-cell">
      <p>Assigned To</p>
    </div>
    <div class="col ticket-table-cell">
      <p>Date Created</p>
    </div>
    <div class="col ticket-table-cell">
      <p>Date Resolved</p>
    </div>
  </div>
  <!-- Ticket table rows -->
  <div class="row ticket-table" *ngFor="let ticket of tickets">
    <div class="col ticket-table-cell">
      <p>{{ ticket.subject }}</p>
    </div>
    <div class="col ticket-table-cell">
      <p>{{ fullName}}</p>
    </div>
    <div class="col ticket-table-cell">
      <p>{{ ticket.description }}</p>
    </div>
    <div class="col ticket-table-cell">
      <p>{{ ticket.priority }}</p>
    </div>
    <div class="col ticket-table-cell">
      <p>{{ ticket.AssignedTo }}</p>
    </div>
    <div class="col ticket-table-cell">
      <p>{{ ticket.DateCreated }}</p>
    </div>
    <div class="col ticket-table-cell">
      <p>{{ ticket.DateResolved }}</p>
    </div>
  </div>
</div>


