/* Container for buttons */
.button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px; /* Adjust the margin */
}

/* Style for buttons */
.button-container button {
  margin-bottom: 10px; /* Adjust the margin between buttons*/
}

/* Sidebar styling */
.sidebar {
  float: left;
  position: absolute;
  top: 80px;
  padding: 20px;
  width: 20%;
  background-color: #f2f2f2;
  overflow: auto; 
}

/* Ticket container styling */
.tickets-container.ticket-box {
  border: 1px solid #ccc;
  padding: 5px;
  width: 70%;
  margin: auto;
  margin-left: 25%; /* Adjust the margin-left */
  overflow: auto; 
}

/* Ticket table header styling */
.ticket-table-header {
  background-color: #f2f2f2;
  overflow: auto; /* Add this line */
}

/* Ticket table cell styling */
.ticket-table-cell {
  padding: 10px; /* Add padding to all sides of the cell */
  font-size: 10px;
  overflow: auto; /* Add this line */
}

.tickets-container {
  position: relative;
}

.create-ticket-btn-container {
  position: absolute;
  top: 0;
  right: 0;
}

.navbar .navbar-collapse .navbar-nav .form-inline {
  margin-left: auto;
  margin-right: auto;
}
