<nav class="navbar bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand">Dashboard</a>
    <div class="user-info-container">
      <h4>
        {{fullName}}
        <span class="fa fa-user p-2"></span>
      </h4>
    </div>
  </div>
</nav>

<div class="button-container">
  <button class="btn btn-primary" (click)="CreateTicket()">Create Ticket</button>
  <button class="btn btn-primary" (click)="ViewTickets()">View Tickets</button>
  <button class="btn btn-primary" (click)="logout()">Sign Out</button>
</div>

<div class="sidebar">
  <h2>Ticket Categories</h2>
  <ul>
    <li class="ticket-category">Category 1</li>
    <li class="ticket-category">Category 2</li>
    <li class="ticket-category">Category 3</li>
    <!-- Add more categories here -->
  </ul>
</div>

<div class="tickets-container ticket-box">
  <h2>Tickets</h2>
  <div class="row ticket-table-header">
    <div class="col ticket-table-cell">
      <p>Ticket Subject</p>
    </div>
    <div class="col ticket-table-cell">
      <p>Ticket Description</p>
    </div>
    <div class="col ticket-table-cell">
      <p>Priority</p>
    </div>
    <div class="col ticket-table-cell">
      <p>Assigned To</p>
    </div>
    <div class="col ticket-table-cell">
      <p>Date Created</p>
    </div>
    <div class="col ticket-table-cell">
      <p>Date Resolved</p>
    </div>
  </div>
  <div class="row ticket-table" *ngFor="let ticket of tickets">
    <div class="col ticket-table-cell">
      <p>{{ ticket.subject }}</p>
    </div>
    <div class="col ticket-table-cell">
      <p>{{ ticket.description }}</p>
    </div>
    <div class="col ticket-table-cell">
      <p>{{ ticket.priority }}</p>
    </div>
    <div class="col ticket-table-cell">
      <p>{{ ticket.AssignedTo }}</p>
    </div>
    <div class="col ticket-table-cell">
      <p>{{ ticket.DateCreated }}</p>
    </div>
    <div class="col ticket-table-cell">
      <p>{{ ticket.DateResolved }}</p>
    </div>
  </div>
</div>

